@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
        list-style: none;

}





body {
    background-color: #000000; /* Fondo oscuro igual al menú */
    color: white;
    overflow-x: hidden;
}

head {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #cab0b0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    align-items: center;
     font-size: 3rem;
     text-decoration: none;
     font-family: "Bitcount Grid Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
     font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;

   
}

.nav-text {
    font-family: "Ribeye", cursive;
    color: white !important;
    font-size:20px;
    margin-left: 8px;
}

.nav-menu {
    display: flex;
    gap: 25px;
    font-weight: bold;
    font-size: 25px;
}

.nav-links a {
  display: flex;
    padding: 10px 18px;
     font-weight: bold;
    color: #fffdfd;
    border-radius: 20px;
    transition: 0.3s ease; 
    font-size: 18px;
    text-decoration: none;

}

.nav-link:hover {
    background-color: #965316 ;
}

.nav-icons {
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
}
